<%- include('template/header', {tituloPagina: 'Datos a ingresar'})  %>

<div class="container">
    <h2>Datos a ingresar</h2>
    <form action="/proyeccionesRadiologicas" method="POST">
        <input name="proyeccion" type="text" placeholder="Agregar Proyeccion" class="form-control my-2">
        <input name="factoresDeExposicion" type="text" placeholder="Agregar Factores De Exposici칩n"
            class="form-control my-2">
        <input name="estructuraAnatomica" type="text" placeholder="Agregar Estructura Anatomica"
            class="form-control my-2">
        <input name="tama침oDeLaPlaca" type="text" placeholder="Agregar Tama침o De La Placa" class="form-control my-2">
        <input name="posicion" type="text" placeholder="Agregar Posici칩n" class="form-control my-2">
        <input name="rayoCentral" type="text" placeholder="Agregar Rayo Central" class="form-control my-2">



        <button class="btn btn-success" type="submit">Agregar</button>
        <a href="/proyeccionesRadiologicas" class="btn btn-dark">Volver a Proyecciones Radiologicas</a>

    </form>
</div>
</body>

</html>