<%- include('template/header', {tituloPagina: 'Datos a ingresar'})  %>

<div class="container">
    <h2>Datos a ingresar</h2>
    <form action="/proyeccionesRadiologicas" method="POST">
        <label>Proyección:</label>
        <input name="proyeccion" type="text" placeholder="Agregar Proyeccion" class="form-control my-2">
        <label>Factores de exposición:</label>
        <input name="factoresDeExposicion" type="text" placeholder="Agregar Factores De Exposición"
            class="form-control my-2">
        <label>Estructura anatómica:</label>
        <input name="estructuraAnatomica" type="text" placeholder="Agregar Estructura Anatomica"
            class="form-control my-2">
        <label>Tamaño de la placa:</label>
        <input name="tamañoDeLaPlaca" type="text" placeholder="Agregar Tamaño De La Placa" class="form-control my-2">
        <label>Posición</label>
        <input name="posicion" type="text" placeholder="Agregar Posición" class="form-control my-2">
        <label>Rayo central:</label>
        <input name="rayoCentral" type="text" placeholder="Agregar Rayo Central" class="form-control my-2">
        <label>Instrucciones al paciente:</label>
        <input name="instruccionesAlPaciente" type="text" placeholder="Agregar Instrucciones Al Paciente"
            class="form-control my-2">



        <button class="btn btn-success" type="submit">Agregar</button>
        <a href="/proyeccionesRadiologicas" class="btn btn-dark">Volver a Proyecciones Radiologicas</a>

    </form>
</div>
</body>

</html>