<%- include('template/header', {tituloPagina: 'Index'}) %>


<h3 class="mt-3">Programadores:</h3>
<ul>
    <li>Ing. Moises Santana Velasco</li>
    <li>Ing. Carlos Alberto Flores Rodríguez</li>
    <li>Ing. Christopher Federico Godoy Cisneros</li>
</ul>

<hr>
<img class="mt-3" src="https://digitaria-academy.com/wp-content/uploads/2020/12/EnMantenimiento.jpg"
    alt="imagen de mantenimiento">

</body>

</html>